@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var emptyGuidId = "00000000-0000-0000-0000-000000000000";
}
<script src="~/Scripts/bankScript/ctrl-transaction.js"></script>
<div ng-controller="transactionCtrl" id="transactionCtrl" class="content">

    <div class="module">
        <div class="module-head">
            <h3>Transaction History</h3>
        </div>
        <div class="module-option clearfix">

            <div class="control-group">
                <label class="control-label" for="basicinput">User Account</label>
                <div class="controls">
                    <select ng-change="getAccountTransactionAll()" placeholder="Account" required ng-model="SelectedAccount" name="SelectedAccount" class="span8" ng-options="account.AccountName for account in userAccountList track by account.AccountPk">
                        <option value="">Select Account</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="module-body">
            <div ui-grid="transactionGrid" ui-grid-selection class="angular-grid-5results"></div>

        </div>

    </div>

   

    

</div>



